/*
.hand.v-enter-active,
.hand.v-leave-active {
    transition: opacity 1s;
}

.hand.v-enter, .hand.v-leave-to {
    opacity: 0; 
}
*/

/*
.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s;
}

.fade-enter, .fade-leave-to {
    opacity: 0; 
}
*/

.hand-enter-active,
.hand-leave-active {
    transition: opacity 1s;
}

.hand-enter, .hand-leave-to {
    opacity: 0; 
}



.hand-enter-active .wrapper,
.hand-leave-active .wrapper{
    transition: transform .8s cubic-bezier (.08, .74, .34, 1);
    transform-origin: bottom center;
}

.hand-enter .wrapper, .hand-leave-to .wrapper{
    transform: rotate(90deg);
}

.hand-enter-active .card,
.hand-leave-active .card{
    transition: margin .8s cubic-bezier(.08, .74, .34, 1);

}

.hand-enter .card, .hand-leave-to .card {
    margin: 0 -100px; 
}

.myhand {
    bottom:0;left:0;right:0;
    position:absolute;
}