<html>
<head>
<link href="bootstrap.min.4.1.1.css" rel="stylesheet">

<title>css new</title>
</head>
<body>

<div id="app">
<table class="table table-striped">
  <thead>
  <tr> 
  <th>#</th>
  <th>Plot</th>
  <th>Writer</th>
  <th>Upvotes</th>
  <th>Actions</th>
  </tr>
</thead>

<tr is="story" v-for="(story,key) in stories" :story="story"> </tr>

</table>

<p class="lead">Here's a list of all your stories. </p>
<button @click="createStory()" class="btn btn-primary">
  Add a new one?
</button>
<pre>{{ $data }}</pre>

</div>




</body>

<template id="template-story-raw">
  <tr> 
    <td>{{story.id}} </td>
    <td> 
      <input v-if="story.editing" v-model="story.plot" class="form-control">
      <span  v-else> {{story.plot}} </span>
    </td> 
  <td>
    <input v-if="story.editing" v-model="story.writer" class="form-control">
    <span  v-else> {{story.writer}} </span> 
  </td>
    <td> {{story.upvotes}}</td>
    <td>
      <div v-if="!story.editing" class="btn-group">
        <button @click="upvoteStory(story)" class="btn btn-primary">
          Upvote
        </button>

        <button @click="deleteStory(story)" class="btn btn-danger">
          Delete
        </button>

        <button @click="story.editing=true" class="btn btn-default">
          Edit
        </button>

      </div>

      <div v-else class="btn-group">
        <button @click="editStory(story)" class="btn btn-primary">
          Upvote Story
        </button>
        <button @click="storeStory(story)" class="btn btn-success">
          Save New Story
        </button>
        <button @click="story.editing=false" class="btn btn-default">
          Cancel
        </button>
      </div>

    </td>
  </tr>
</template>

<script src="vue-v2.5.16.js"></script>
<!-- <script src="jquery-3.3.1.min.js"></script> -->
<script src="vue-resource-1.5.1.min.js"></script>

<script type="text/javascript">
<!--   
// cd server
// json-server --watch db.json
-->

Vue.component('story', {
    template: "#template-story-raw",
    props: ['story'],
    methods: {
      upvoteStory: function(story){
        story.upvotes++;
        this.$http.patch('http://localhost:3000/stories/' + story.id,
          story);
        // $.ajax({
        //   url: 'http://localhost:3000/stories/' + story.id,
        //   type: 'PATCH',
        //   data: story,
        // });
      },
      deleteStory: function(story){
        Vue.delete(vm.stories, vm.stories.indexOf(story));
        // this.$http('http://localhost:3000/stories/' + story.id)
        
        // Vue.delete(vm.stories, key);
        // $.ajax({
        //   url: 'http://localhost:3000/stories/' + story.id,
        //   type: 'DELETE'
        // });
        
      },
      editStory: function(story) {
        console.log('editStory');
        this.$http.patch('http://localhost:3000/stories/' + story.id, story);
        story.editing = false;
      },
      storeStory: function(story){
        this.$http.post('http://localhost:3000/stories/', story).then(function() {
          story.editing = false;
        })
      },
    }
});


var vm = new Vue({
  el: '#app',
  data: {
    stories: []
  },
  mounted: function(){
    console.log('### @-@ mounted ###');
    // $.get('http://localhost:3000/stories', function(data){
    //   console.log(data);
    //   vm.stories = data;
    // })
    this.$http({url: 'http://localhost:3000/stories', 
        method: 'GET'}).then(function (response){
          // console.log(response.data);
          // this.$set('stories', response.data);
          var storiesReady = response.data.map(function(story){
            story.editing = false;
            return story
          })
          this.stories = storiesReady;

          // console.log('###')
        })
  },
  methods: {
    createStory: function(){
      var newStory = {
        "plot":  "",
        "upvotes": 0,
        "editing": true
      };
      this.stories.push(newStory);
    },

  }

})
</script>

<style type="text/css">

</style>
</html>