<html>
<head>
  <title>Notebook simple</title>
</head>
<body>

<link href="bootstrap.min.4.1.1.css" rel="stylesheet">
<link href="style.css" rel="stylesheet">


<!-- Include the library in the page -->
<script src="vue-v2.5.16.js"></script>
<script src="marked.js"></script>
<script src="moment.js"></script>

<!-- Some HTML -->
<div id="notebook">

    <!-- sidebar -->
    <aside class="side-bar">
        <!-- 笔记列表 -->
        <div class="toolbar">
        <button @click="addNote" :title="addButtonTitle"> 
            <i class="material-icons">add</i> 添加笔记
        </button>
        </div>

        <div class="notes">
            <div class="note" v-for="note in sortedNotes" :class="{selected: note === selectedNote}"
             @click="selectNote(note)"> 
          <i class="icon material-icons" v-if="note.favorite">star</i>
           {{ note.title }} </div>
        </div>

    </aside>

  <section class="main" v-if="selectedNote">

    <div class="toolbar">
      <input v-model="selectedNote.title" placeholder="笔记标题">

      <button @click="favoriteNote" title="Favorite note"><i class="material-icons">
      {{ selectedNote.favorite ? 'star' : 'star_border' }}</i>
      </button>
      <button @click="removeNote" title="Remove note"><i class="material-icons">删除</i></button>

    </div>

    <textarea v-model="selectedNote.content"></textarea>
    <div class="toolbar status-bar">
      <span class="date">
           <span class="label">创建时间</span>
           <span class="value">{{ selectedNote.created | date }}</span>
      </span>
      <span class="date">
           <span class="label">行数</span>
           <span class="value" > {{ lineCount }} </span>
      </span>
    </div>

  </section>

  <aside class="preview" v-if="selectedNote" v-html="notePreview">

  </aside>
</div>

<!-- Some JavaScript -->
<script src="script.js"></script>
</body>
</html>