<h1>Add doc</h1>
<!-- HTML表单 -->
<form action="/blogs/create" method="POST">
    <label>name</label>
    <input type="text" name="name">
    <br><br>
    <label>line:</label>
    <input type="text" name="line">
    <br><br>
    <label>f1:</label>
    <input type="text" name="f1">
    <br><br>
    <label>f2:</label>
    <input type="text" name="f2">
    <br><br>
    <label>f3:</label>
    <input type="text" name="f3">
    <br><br>
    <label>f4:</label>
    <input type="text" name="f4">
    <br><br>
    <label>f5:</label>
    <input type="text" name="f5">
    <br><br>
    <input type="submit" value="create">
</form>