<h1>update doc</h1>
<!-- HTML表单 -->
<form action="/blogs/update/{{blog.id}}" method="POST">
    <label>name:</label>
    <input type="text" name="name" value="{{blog.name}}">
    <br><br>
    <label>line:</label>
    <input type="text" name="line" value="{{blog.line}}">
    <br><br>
    <label>f1:</label>
    <input type="text" name="f1" value="{{blog.f1}}">
    <br><br>
    <label>f2:</label>
    <input type="text" name="f2" value="{{blog.f2}}">
    <br><br>
    <label>f3:</label>
    <input type="text" name="f3" value="{{blog.f3}}">
    <br><br>
    <label>f4:</label>
    <input type="text" name="f4" value="{{blog.f4}}">
    <br><br>
    <label>f5:</label>
    <input type="text" name="f5" value="{{blog.f5}}">
    <br><br>
    <input type="submit" value="提交">
</form>